<div class="list-wrap">
  <!-- 面包屑 -->
  <el-breadcrumb class="list-breadcrumb" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>商品管理</el-breadcrumb-item>
    <el-breadcrumb-item>商品参数</el-breadcrumb-item>
  </el-breadcrumb>
  <!-- 级联选择器 -->
  <el-row class="hl-cascader">
    <el-col :span="24">
      <!-- 注册CategoryCascader公共组件标签
        level用来指定分类的层级,默认为3级
       -->
      <category-cascader @change="handleChange" level="3"></category-cascader>
    </el-col>
  </el-row>
  <!-- 标签页选项卡 -->
  <el-tabs type="border-card">
    <el-tab-pane label="动态参数">
      <el-row>
        <el-col :span="4">
          <el-button
            plain
            type="success"
            @click="showManyDia">添加参数名称</el-button>
        </el-col>
        <el-table
          :data="tableData"
          style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="scope">
              <el-tag
                @close="handleRemoveTag(scope.row, index)"
                v-for="(item, index) in scope.row.attr_vals"
                :key="item.attr_id"
                closable
                type="primary">
                 {{ item }}
              </el-tag>
              <!-- 把inputVisible添加到当前行对象中 -->
              <!-- 自动获得焦点
                1. 自定义指令操作DOM
                2. ref 操作DOM
               -->
              <el-input
                class="input-new-tag"
                v-if="scope.row.inputVisible"
                ref="saveTagInput"
                size="small"
                @keyup.enter.native="handleInputConfirm(scope.row,$event)"
                @blur="handleInputConfirm(scope.row,$event)"
              >
              <!-- @blur="handleInputConfirm" 失去焦点也是这个函数 -->
              </el-input>
              <el-button v-else class="button-new-tag" size="small" @click="showInput(scope.row)">+ 添加值</el-button>
            </template>
          </el-table-column>
          <el-table-column type="index"></el-table-column>
          <el-table-column
            label="商品参数"
            prop="attr_name">
          </el-table-column>
          <el-table-column label="操作">
            <!-- 自定义表格列 -->
            <template slot-scope="scope">
              <el-button type="primary" plain icon="el-icon-edit" size="mini"></el-button>
              <el-button type="danger" plain icon="el-icon-delete" size="mini"></el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-row>
    </el-tab-pane>
    <el-tab-pane label="静态属性">静态属性</el-tab-pane>
  </el-tabs>
  <!-- 添加参数对话框 -->
  <el-dialog title="参加参数名称" :visible.sync="addManyDia">
    <el-form :model="addManyForm">
      <el-form-item label="参数名称" label-width="120px">
        <el-input v-model="addManyForm.attr_name" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addManyDia = false">取 消</el-button>
      <el-button type="primary" @click="handleAddManyParam">确 定</el-button>
    </div>
  </el-dialog>
</div>
