<div class="list-wrap">
  <el-breadcrumb class="list-breadcrumb" separator-class="el-icon-arrow-right">
    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
    <el-breadcrumb-item>权限管理</el-breadcrumb-item>
    <el-breadcrumb-item>角色列表</el-breadcrumb-item>
  </el-breadcrumb>
  <el-row class="role-btn">
    <el-col :span="24">
      <el-button
        type="success"
        plain
        @click="addRolesDia = true">添加角色</el-button>
    </el-col>
  </el-row>
  <el-table
    :data="roleList"
    style="width: 100%">
    <el-table-column type="expand">
      <template slot-scope="scope">
        <!-- 遍历一级权限 -->
        <el-row
          v-for="level1 in scope.row.children"
          class="role-lv1"
          :key="level1.id">
          <el-col :span="4">
            <el-tag
              @close="handleRemoveRights(scope.row,level1)"
              closable
              type="">
              {{ level1.authName }}
            </el-tag>
            <i class="el-icon-arrow-right"></i>
          </el-col>
          <el-col :span="20">
            <!-- 遍历二级权限 -->
            <el-row
              v-for="level2 in level1.children"
              class="role-lv2"
              :key="level2.id">
              <el-col :span="4">
                <el-tag
                  @close="handleRemoveRights(scope.row,level2)"
                  closable
                  type="warning">
                  {{ level2.authName }}
                </el-tag>
                <i class="el-icon-arrow-right"></i>
              </el-col>
              <el-col :span="20">
                <!-- 遍历三级循环 -->
                  <el-tag
                    v-for="level3 in level2.children"
                    closable
                    @close="handleRemoveRights(scope.row,level3)"
                    type="success"
                    class="role-lv3"
                    :key="level3.id">
                    {{ level3.authName }}
                  </el-tag>
              </el-col>
            </el-row>
          </el-col>
        </el-row>
      </template>
    </el-table-column>
    <el-table-column
      label="#"
      type="index">
    </el-table-column>
    <el-table-column
      label="角色名称"
      prop="roleName">
    </el-table-column>
    <el-table-column
      label="角色描述"
      prop="roleDesc">
    </el-table-column>
    <el-table-column
      label="操作">
      <template slot-scope="scope">
        <el-button
          type="primary"
          size="mini"
          plain
          @click="handleEditRoles(scope.row)">编辑</el-button>
        <el-button
          type="danger"
          size="mini"
          plain
          @click="handleRemoveRoles(scope.row)">删除</el-button>
        <!-- <el-button type="warning" size="mini" icon="el-icon-check" plain></el-button> -->
        <el-button
          type="warning"
          size="mini"
          plain
          @click="showEditRights(scope.row)">授权</el-button>
      </template>
    </el-table-column>
  </el-table>
  <!-- 添加角色对话框 -->
  <el-dialog title="添加角色" :visible.sync="addRolesDia">
    <el-form :model="roleForm">
      <el-form-item label="角色名称" label-width="120px">
        <el-input v-model="roleForm.roleName" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="角色描述" label-width="120px">
        <el-input v-model="roleForm.roleDesc" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addRolesDia = false">取 消</el-button>
      <el-button type="primary" @click="handleAddRoles">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 编辑角色对话框 -->
  <el-dialog title="编辑角色" :visible.sync="editRolesDia">
    <el-form :model="editRoleForm">
      <el-form-item label="角色名称" label-width="120px">
        <el-input v-model="editRoleForm.roleName" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="角色描述" label-width="120px">
        <el-input v-model="editRoleForm.roleDesc" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editRolesDia = false">取 消</el-button>
      <el-button type="primary" @click="handleUpdateRoles">确 定</el-button>
    </div>
  </el-dialog>
  <!-- 授权角色对话框 -->
  <el-dialog title="授权角色" :visible.sync="editRightsDia">
    <el-form :model="editRightForm">
      <!-- 权限列表菜单树 -->
      <el-tree
        :data="treeData"
        show-checkbox
        node-key="id"
        ref="rightsTree"
        default-expand-all
        :props="treeProps"
         :default-checked-keys='treeCheckedKeys'>
      </el-tree>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="editRightsDia = false">取 消</el-button>
      <el-button type="primary" @click="handleEditRights">确 定</el-button>
    </div>
  </el-dialog>
</div>
