.hl-adds {
  background-color: #cfdce2;
  padding: 10px;
  margin-bottom: 15px;
}
.hl-step {
  margin-bottom: 20px;
  margin-left: 20px;
}
.hl-params-many {
  margin-bottom: 10px;
}
.hl-many-tag {
  margin-bottom: 10px;
}
.hl-adds-footer {
  text-align: center;
  margin-top: 50px;
}
